/* ================================== */
/* STYLE CHUNG */
/* ================================== */

.banve-content-wrapper {
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-background-color: #f4f7f6;
}

/* Tiêu đề chính */
.banve-title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-alignment: center;
}

/* ================================== */
/* THANH BƯỚC */
/* ================================== */

.step-indicator-box {
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.step-button {
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
}

.step-button-active {
    -fx-background-color: #0066CC;
    -fx-text-fill: white;
    -fx-border-color: #0066CC;
    -fx-font-weight: bold;
}

/* ================================== */
/* BOX & TITLED PANE */
/* ================================== */

.box-border {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.section-title-pane > .title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

/* ================================== */
/* COMBOBOX */
/* ================================== */

.custom-combo-box {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-pref-height: 35px;
    -fx-pref-width: 400px;
    -fx-font-size: 14px;
    -fx-margin: 30px
}

.custom-combo-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.custom-combo-box .list-cell:hover {
    -fx-background-color: #f0f0f0;
}

/* ================================== */
/* DATE-PICKER */
/* ================================== */
.date-picker {
    -fx-pref-width: 400px;
    -fx-pref-height: 35px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-font-size: 14px;
}

.date-picker .arrow-button {
    -fx-background-color: #f0f0f0;
    -fx-border-color: black;
    -fx-border-width: 0 0 0 1px;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #e0e0e0;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-padding: 5 10;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}

.btnTimKiem {
    -fx-background-color: #0066CC;
    -fx-text-fill: white;
    -fx-border-color: #0066CC;
    -fx-font-weight: bold;
}

.lblText {
    -fx-font-size: 16px;
}